.card {
    min-width: 150px;
    margin: 0 5px;
    display: inline-block;
}

.card-group{
    width: 1800px;
    min-height: 300px; 
}

.scrolling-wrapper {
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
} 

