.card {
    min-width: 150px;
    margin: 0 5px;
}
/* .card-group{
    width: 800px;
}

.scrolling-wrapper {
  overflow-x: scroll;
  white-space: nowrap;

  .card {
    display: inline-block;
  }
} */